---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Libros</h1>

  <div class="book-detail">
    <div class="book-picture"/></div>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet condimentum elit. Curabitur aliquet tortor nec nisi ultricies, sed sagittis tellus scelerisque.
    </div>
   </div>

</BaseLayout>